---
- name: 输出当前目录位置
  debug:
    msg: "{{ ansible_env.PWD }}"

- name: download mysql tarball
  get_url:
    url: "{{ download_url }}"
    dest: "."

- name: extract mysql tarball
  unarchive:
    src: "./{{ tarball }}"
    dest: "{{ install_path }}"

- name: create mysql data directory
  file:
    path: "{{ datadir }}"
    state: directory

- name: ln -s mysql
  shell: ln -s {{ extractdir }} {{ basedir }}
  args:
    chdir: "{{ install_path }}"

- name: upload mysql config file
  template:
    src: my.cnf.j2
    dest: "{{ basedir }}/my.cnf"
    mode: 0644
