---
- name: Set MYSQL_HOME&PATH env
  lineinfile:
    path: "~/.bash_profile"
    regexp: '^\s*export\s*{{ item.key }}=.*$'
    line: "export {{ item.key }}={{ item.value }}"
  with_dict:
    - { "MYSQL_HOME": "{{ basedir }}" }
    - { "PATH": "$PATH:$MYSQL_HOME/bin" }
